<div class="card mb-3" *ngIf="product">
    <img class="card-img-top" [src]="product?.imageUrl" [alt]="product?.title" *ngIf="product?.imageUrl">
    <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.price | currency : 'INR'}}</p>
    </div>
    <div class="card-footer p-0" *ngIf="showActions && cart">
        <button *ngIf="cart?.getQuantity(key) === 0; else updateQuantity" (click)="addToCart()"
            class="btn btn-secondary btn-block">
            <mat-icon class="align-text-top">
                add_shopping_cart
            </mat-icon>
        </button>

        <ng-template #updateQuantity>
            <product-quantity [key]="key" [shopping-cart]="cart" [product]="product"></product-quantity>
        </ng-template>
    </div>
</div>
