<div class="row">
    <div class="col-md-3">
        <product-filter [category]="category"></product-filter>
    </div>
    <div class="col">
        <div class="row">
            <ng-container *ngFor="let item of filteredProducts; odd as isOdd">
                <div class="col">
                    <product-card [product]="item.payload.val()" [show-actions]="true"></product-card>
                </div>
                <div class="w-100" *ngIf="isOdd"></div>
            </ng-container>
        </div>
    </div>
</div>