<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" routerLink="/" [class.active]="!category">
                All Categories
            </a>
            <a class="list-group-item list-group-item-action" routerLink="/" [queryParams]="{category : item.key}"
                *ngFor="let item of categories$ | async" [class.active]="category == item.key">
                {{item.payload.val().name}}
            </a>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <ng-container *ngFor="let item of filteredProducts; odd as isOdd">
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" [src]="item.payload.val().imageUrl" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{item.payload.val().title}}</h5>
                            <p class="card-text">{{item.payload.val().price | currency : 'INR'}}</p>
                            <a href="#" class="btn btn-primary">Add Cart</a>
                        </div>
                    </div>
                </div>
                <div class="w-100" *ngIf="isOdd"></div>
            </ng-container>
        </div>
    </div>
</div>