<div class="row">
    <div class="col-md-9">
        <h1>
            Shopping Cart
        </h1>

        <ng-container *ngIf="cart$ | async as cart">
            <p>
                You have {{cart.shoppingCartItemCount }} items in your shopping cart.
                <button class="btn btn-sm btn-light" (click)="clearCart()">
                    Clear Shopping Cart
                </button>
            </p>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th class="text-right pl-4" scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cart.items; index as i">
                        <th scope="row">
                            <img class="thumbnail" [src]="item.product.imageUrl" [alt]="item.product.title">
                        </th>
                        <td> {{ item.product.title }} </td>
                        <td>
                            <product-quantity [product]="item.product" [key]="item.product.id" [shopping-cart]="cart">
                            </product-quantity>
                        </td>
                        <td class="text-right pl-4"> {{ item.totalPrice | currency : 'INR' }} </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="row"></th>
                        <th></th>
                        <th></th>
                        <th class="text-right pl-4"> {{ cart.totalPrice | currency : 'INR' }} </th>
                    </tr>
                </tfoot>
            </table>
            <a routerLink="/check-out" class="btn btn-primary">
                Check out
            </a>
        </ng-container>
    </div>
</div>